.etch-a-sketch{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    /* grid-template-rows: repeat(16, 1fr); */

    margin: auto;
    width: 75vh;
    height: 75vh;

}

.pixel{
    background-color: black;
}

.active-pixel{
    background-color: white;
}